@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;

}
html, body, #root {
  height: 100vh;
  font-family: 'DM Sans';

}




.agora_video_player{
border-radius: 25px;
width:384px !important;
  height:288px !important;
}

div[id^="agora-video-player-track"]{
  background-color: transparent!important
}

.main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
  width: 300px;
  height: 500px;
  border-radius: 10px;

}

.messages {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
}

.inner {
  padding: 10px;
}

.message {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 12px;
 color: #515151;


}

.user-self {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  margin-left: 0.2rem;

  /* neutral/neutral-12 */

  color: #242424;}

.user-them {
  font-family: 'DM Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
margin-left: 0.2rem;

/* neutral/neutral-12 */

color: #242424;
}

.form {
  position: relative;
  display: flex;
}

.input {
  width: 100%;
  border: none;
  height: 40px;
  padding: 8px;
  border-top: 1px solid #999;

  outline: none;

}

.button {
  border: none;
  outline: none;
  background: none;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 24px;
}
.text{
 display: flex;
margin-left: 15px;
font-size: 16px;

}
.input-border {
  border-color: #3E68A8 !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  border-radius: 14PX !important;
}
